<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>注册</title>
<link href="__PUBLIC__/home/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
	<div class="header">
		<div class="left">
			<img src="__PUBLIC__/home/img/logo.png" />
		</div>

		<div class="header_link">
			<a href="#">登    录 |</a>
			<a href="#">代理加盟 |</a>
			<a href="#">投诉建议</a>
		</div>
	</div>
	
	<div class="loginpanel">
	    <form action="{:U('Home/User/register')}" method="post">
	        <div class="panel loginbox">
	        	<div class="panel-top">注册&nbsp;<a href="{:U('Home/User/login')}">/登录</a></div>
	            <div class="panel-body">
	                <div class="log-line">
	                    <div class="log-text">
	                        <input type="text" class="username" name="username" placeholder="用户名"/>
	                    </div>
	                </div>
	                <div class="log-line">
	                    <div class="log-text">
	                        <input type="password"class="password" name="password" placeholder="密码"/>
	                    </div>
	                </div>
	                <div class="log-line">
	                    <div class="log-text">
	                        <input type="text" style="height:44px;width:100px" class="city" name="city" placeholder="城市"/>
	                        <input type="text" style="height:44px;width:149px;margin-top:-44px;margin-right:-44px;" class="school" name="school" placeholder="学校"/>                       
	                    </div>
	                </div>
	                <div class="log-line">
	                    <div class="log-text">
	                        <input type="email" class="email" name="email" placeholder="邮箱"/>
	                    </div>
	                </div>
	            </div>
	            

	            <div class="log-sub">
	            	<input type="submit" name="submit" class="style1" onmouseover="this.className='style2'" onmouseout="this.className='style1'" value="注    册">
	            </div>
	        </div>
	    </form>
	</div>
		
	<div class="foot">
		Copyright &copy; 2016-2017 奋斗小组
	</div>
</div>	

</body>
</html> 

