*{margin:0px;padding:0px;border:0px; font-size:12px;color:light blue; }
ul li{ list-style:none}
a{ text-decoration:none;}
body{margin:auto;overflow-x:hidden;}

/*****购物车*********/

.gwc{ width:950px;overflow:hidden;margin-top: 0px;}
.gwc_tb1{ width:100%; border-top:5px solid white; background:white; height:38px; margin-top:20px; overflow:hidden;}
.tb1_td1{ width:35px; text-align:center;}
.tb1_td3{ width:290px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td4{ width:260px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td5{ width:115px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td6{ width:135px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td7{ text-align:center;}


.gwc_tb2{ width:100%;margin-top:10px; background:white; border:1px hidden #e5e5e5; padding-top:10px; padding-bottom:20px;}
.tb2_td1{ width:60px; text-align:center;}
.tb2_td2{ width:100px; text-align:center;border:hidden;}
.tb2_td2 img{ width:96px; height:60px; border:2px solid #c9c6c7;}
.tb2_td3{ width:170px; padding-left:12px; padding-right:18px;}
.tb2_td3 a{ font-size:14px; line-height:22px;}

.gwc_tb3{ width:100%; border:1px hidden #d2d2d2; background:white; height:46px; margin-top:20px; }
.gwc_tb3 tr td{font-size:14px;}
.tb3_td2{ width:100px;text-align:center;}
.tb3_td2 span{ color:#ff5500;font-size:14px; font-weight:bold; padding-left:5px; padding-right:5px; }
.tb3_td3{ width:220px;text-align:center;}
.tb3_td3 span{ font-size:18px; font-weight:bold;}
.tb3_td4{ width:110px;text-align:center;}
.jz2{ width:100px; height:46px; line-height:46px; text-align:center; font-size:18px; color:#fff; background:#ee0000; display:block; float:right;}
#jz1{font-size:18px;}
/*download by www.sucaijiayuan.com*/





























