/*user1*/
#user_nav{
	background: #fff;
	border-top: 3px solid #00AC90;
	height: 55px;
	margin-top: 150px;
	width:920px;
	margin-left: 15px;
}
#user_nav li{
	float: left;
	list-style: none;
	height: 100%;
	width: 230px;
}
#user_nav li a{
	display: block;
	height: 55px;
	color: #444;
	font: 16px/54px "Microsoft YaHei";
	text-decoration: none;
	text-align: center;
}
#user_nav li:hover{
	background: #00AC90;
}
#user_nav li:hover a{
	color: #fff;
}
#user_nav li.on{
	background: #00AC90;
}
#user_nav li.on a{
	color: #fff;
}
#my_info{
	background: #fff;
	width: 800px;
	height:800px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding: 40px 60px;
	margin-left: 15px;
}


/*user2*/

#img_info1{
	height:180px;
	width:150px;
	margin-left: 10px;
	margin-top: 6px;
	padding-bottom: 4px;
}
#text_info1{
	margin-top: 7px;
	padding: 0px;
}
.publish_btn{
	width:120px;
	height:30px;
	background-color:#ffe4c4;
	border-style: outset;
	/*border:1px black solid;*/
	float:right;
	text-align:center;
	line-height:25px;
	height:25px;
	font-size:16px;
	font-weight: bold;

}
.publish_list{
	margin-top:40px;
	width:800px;
	height:500px;
	/*border:1px black solid;*/
}
/*user3*/


.my_info{
	background: #fff;
	width: 800px;
	height:1000px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding: 20px 60px;
	margin-left: 15px;
	margin-bottom: 10px;
}
.my_info ul li img {
	width:140px;
	height:170px;
	margin-right: 150px;
	border-bottom: 2px dashed #CD853F;

}
.my_info ul li a {
	font-weight:bold;
	text-align:center;
	color:#666;
	width:164px;
	font-size:14px;
	display:block;
	line-height:36px;
}
.my_info li a:hover {
	color:#ea7c14;
}
.my_info li{
	list-style: none;
	float:left;
	margin-left:20px;
}
.img_star1{
	height:180px;
	width:150px;
	margin-left: 10px;
	margin-top: 6px;
	padding-bottom: 4px;
}
#text_star1{
	margin-top: 7px;
	padding: 0px;
}
#text_star1 button{
	color:#00AC90;
}
.my_info div{text-align:center;}
 


@charset "utf-8";
/* CSS Document */




/* 个人资料设计css */
.Safety table{ border-collapse:collapse;}
.Safety{ font-family:"微软雅黑"; font-size:1.2em;}
.Safety img,.Safety a{border:0; text-decoration:none;}
.Safety ol, ul {list-style: none; }
.clears{ clear:both;}
.Safety a{color:#333;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;}
.Safety a:hover{color:#f60;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;}

.Safety{
	margin-top: 50px;
}

.Safety input{
	border:0;
}
.Safety dt {
	font-size:14px;
	padding:7px 0;
	border-bottom:#ddd 1px dotted;
	height:44px;
	line-height:30px;
}
.Safety dt strong{
	display:inline-block;
	padding-left: 0px;

	height:30px;
}
.Safety dt span{
	display:inline-block;
	height:30px;
	padding:0 10px;
	font-weight:400;
	font-size:12px;
	color:#999;
	width:365px;
}
.Safety b{
	display:inline-block;
	width:105px;
	padding:0 10px;
	background:#E1F3FD;
	font-size:14px;
	font-weight:400;
	padding-top: 9px;

}
.Safety dt b span{
	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	background:#94CE25;
	text-align:center;
	font-size:12px;
	color:#fff;

	border-radius: 10px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
	-moz-border-radius: 10px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius: 10px; /* Webkit浏览器的私有属性 */
	margin-left:0px;
	margin-top: 8px;
}
.Safety dt b span.glyphicon-exclamation-sign{
	background:#FFB027;
}
.Safety dt em{
	float:right;
	width:150px;
	text-align:right;
	height:30px;
	line-height:30px;
	font-style:normal;
	color:#06F;
	cursor:pointer;
	padding:0 30px;
}
.Safety dd{
	padding:15px 0;
	background:#F3F6FA;
	display:none;
}
.safForm{
	background:#F3F6FA;
}
.safForm td{
	padding:5px;
}
.safinput1{
	border:#D8D8D8 1px solid;
	background:#fff;
	height:26px;
	width:210px;
	border-radius: 2px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
	-moz-border-radius: 2px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius: 2px; /* Webkit浏览器的私有属性 */
}
.safSub{
	width:130px;
	padding:5px 10px;
	background:#f60;
	color:#fff;
	font-size:16px;
	text-align:center;
	border-radius: 5px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
	-moz-border-radius: 5px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius: 5px; /* Webkit浏览器的私有属性 */
	cursor:pointer;
}
.safSub:hover{
	background:#900;
	color:#fff;
}
.safinput2{
	border:#D8D8D8 1px solid;
	background:#fff;
	height:26px;
	width:150px;
	border-radius: 2px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
	-moz-border-radius: 2px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius: 2px; /* Webkit浏览器的私有属性 */
}
/*安全设置 手机号码样式*/
.Step{
	width:70%;
	margin:10px auto;
	margin-bottom:30px;
}
.Step li{
	float:left;
	width:33%;
	height:4px;
	background:#ccc;
	text-align:center;
}
.Step li span{
	display:inline-block;
	width:24px;
	height:24px;
	font-size:12px;
	text-align:center;
	line-height:24px;
	border-radius: 12px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
	-moz-border-radius: 12px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius: 12px; /* Webkit浏览器的私有属性 */
	background:#ccc;
	position:relative;
	bottom:10px;
	color:#fff;
}
.Step li.stepCur,.Step li.stepCur span{
	background:#f60;

.sjyz-two{
	display:none;
}
.sjyz-ok{
	text-align:center;
	font-size:20px;
	display:none;
}
.sjyz-ok span{
	display:inline-block;
	width:40px;
	line-height:40px;
	color:#fff;
	background:#94CE25;
	text-align:center;
	line-height:40px;
	border-radius: 20px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
	-moz-border-radius: 20px; /* Mozilla浏览器的私有属性 */
	-webkit-border-radius: 20px; /* Webkit浏览器的私有属性 */
}


 