<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>大学生校园二手网站</title>
    <link href="__PUBLIC__/home/css/reset.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/css.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/news_list_css.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/zhucedenglu.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/service.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/show.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/user.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/publish.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/animate.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/home/css/sweetalert.css" rel="stylesheet" type="text/css">



    
    <script type="text/javascript " src="__PUBLIC__/home/js/jquery-1.8.2.min.js"></script>
    <!--[if !IE]>导航条样式　JS<![endif]-->
    <script type="text/javascript" src="__PUBLIC__/home/js/thcic_menu.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/re.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/style.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/Calculation.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.fly.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/service.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/show.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/solideForK13-full.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/solideForK13-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/mumayi_top.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/sweetalert.js"></script>





</head>
<body>
<div class="header_bg">
    <div class="logo_search">
        <div class="logo"><a href="#"><img src="__PUBLIC__/home/img/logo.png" /></a></div>
        <div class="search">
            <ul>
                <li>
                    <div style="Z-INDEX:8888;POSITION:absolute;-moz-opacity:0.50;opacity:0.3;filter:alpha(opacity=30);BACKGROUND-COLOR:#000;display:none;" id="show">
                    </div>
                    <div class="topDiv" id="show_win">
                        <h1>注册</h1>
                        <a href="{:U('Home/Category/category')}"><input id="btnClose" type="button" value="×" onClick="custom_close()" / style="width:17px"></a>

                        <form method="post" role="form" style="height:610px; width:490px;" class="form">
                        
                                <h5 style="text-align: center; line-height: 30px; margin-bottom: 10px">欢迎您注册网站会员，如果您已拥有账户，则可在此<a href="#">登录</a></h5>
                        
                                <div class="form-group">
                                    <label for="user-name" class="control   -label">用户名：</label>
                                    <input type="text" class="form-control" id="user-name" onblur="checkUserName()" placeholder="3~16个字符，且不能包含”@”和”#”字符"/>
                        
                        
                                    <div class="r">
                                        <span id="nameInfo"></span>
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <label for="password" class="control-label">密码：</label>
                                    <input type="password" class="form-control" id="password"  onblur="checkPassword()"
                                               placeholder="长度在8个字符到16个字符"/>
                        
                                    <div class="r">
                                        <span id="passwordInfo"></span>
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <label for="repassword" class="control-label">校验密码：</label>
                                    <input type="password" class="form-control" id="repassword" onblur="checkRepassword()"placeholder="长度在8个字符到16个字符">
                        
                                    <div class="r">
                                        <span id="repasswordInfo"></span>
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <label>选择省市：</label>
                                    <select name="province" class="input_three" id="selProvince" onChange = "getCity(this.options[this.selectedIndex].value)">
                                    </select>
                                    <select name="city" class="input_four" id="selCity">
                                        <option>北京</option>
                                    </select>
                                </div>
                        
                                <div class="form-group">
                                    <label  for="school" class="control-label">学校:</label>
                                    <input type="text" class="form-control" id="school" onblur="checkSchool()">
                                    <div class="r">
                                        <span id="schoolInfo"></span>
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <label  for="school" class="control-label">E-mail:</label>
                                    <input type="text" class="form-control" id="email" onblur="checkEmail()">
                                    <div class="r">
                                        <span id="emailInfo"></span>
                                    </div>
                                </div>
                        
                                <div class="form-group" style="text-align: center">
                                    <input type="checkbox" name="save" value="yes" />已同意<a href="">c2c网站服务条款</a></td>
                                </div>
                        
                                <div class="form-group">
                                    <div style="text-align: center">
                                        <button type="submit" id="submit" class="btn btn-success" onclick="validateForm()">提交</button>
                                        <br/><br/>
                                        <label><a href="#">注册帮助信息请点击这里</a></label>
                                    </div>
                                </div>
                        
                        </form>
                        
                    </div>
                    <a href="javascript:void(0);" onclick="javascript:showDiv();">注册 |</a>
                </li>
                <li>
                    <div style="Z-INDEX:8888;POSITION:absolute;-moz-opacity:0.50;opacity:0.3;filter:alpha(opacity=30);BACKGROUND-COLOR:#000;display:none;" id="show1">
                    </div>
                    <div class="topDiv1" id="show_win1">
                        <h1>登录</h1>
                        <a href="{:U('Home/Category/category')}"><input id="btnClose" type="button" value="×" onClick="custom_close()" / style="width:17px"></a>
                        <!-- <div id="register_bottom"> -->
                        <form method="post" role="form" style="height:300px; width:500px;" class="form">
                            <div class="form-group">
                                    <label for="user-name" class="control-label">用户名：</label>
                                    <input type="text" class="form-control" id="user-name" onblur="checkUserName()" placeholder="请输入用户名！"/>
                                    <div class="r">
                                        <span id="nameInfo"></span>
                                    </div>
                            </div>
                        
                            <div class="form-group">
                                    <label for="password" class="control-label">密码：</label>
                                    <input type="password" class="form-control" id="password"  onblur="checkPassword()" placeholder="请输入密码！"/>
                                    <div class="r">
                                        <span id="passwordInfo"></span>
                                    </div>
                            </div>
                            <div class="form-group" style="margin-top: 50px">
                                    <div style="text-align: center">
                                        <button type="submit" id="submit" class="btn btn-success" onclick="validateForm()">登录</button>
                        
                                    </div>
                                </div>
                        
                        
                                <span class="register" style="text-align: center;">
                                    <h3 style="line-height: 70px">还没有账户吗，先去注册一下吧！</h3>
                                </span>
                        </form>
                        


                        <!--   </div> -->
                    </div>
                    <a href="javascript:void(1);" onclick="javascript:showDiv1();">登录 |</a>
                </li>
                <li ><a href="{:U('Home/Gwc/gwc')}">购物车</a> |</li>
                <li><a href="{:U('Home/User/user3')}">收藏夹</a> |</li>
                <li><a href="{:U('Home/User/user1')}">个人中心</a> |</li>
                <li><a href="{:U('Home/Service/service')}">客户服务</a></li>
            </ul>
            <div class="clear"></div>
            <div class="form">
                <div name="" type="button" class="inbut" value=""></div>
                <input name="" type="text" class="intext"/>

            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--nav-->
    <div id="menu">
        <ul id="nav">
            <li id="mainlevel_01" class="mainlevel">
                <a href="{:U('Home/Index/index')}">网站首页</a>
            </li>
            <volist name='list[0]' id='vo'>
                <li class="mainlevel" id="mainlevel_02">
                    <a href="{:U($vo['url'])}">{$vo.name}</a>
                    <ul id="sub_02">
                        <volist name="list[$vo['id']]" id='vo2'>
                            <li><a href="">{$vo2.name}</a></li>
                        </volist>
                        <!-- <li><a href="{:U('Home/Category/category')}">资格证/等级考试</a></li>
                        <li><a href="{:U('Home/List/list')}">考研资料</a></li>
                        <li><a href="#">教科书</a></li>
                        <li><a href="#">计算机网络</a></li>
                        <li><a href="#">小说杂志</a></li>
                        <li><a href="#">其他</a></li> -->
                    </ul>
                </li>
            </volist>
            <!-- <li id="mainlevel_03" class="mainlevel">
             <a href="#">闲置日用</a>
                                 <ul id="sub_03">
                                       <li><a href="#">卡卷</a></li>
                                       <li><a href="#">台灯</a></li>
                                       <li><a href="#">椅子</a></li>
                                       <li><a href="#">书柜</a></li>
                                       <li><a href="#">其他</a></li>

                                       </ul>
                                 </li>
            <li id="mainlevel_04" class="mainlevel">
             <a href="#">闲置数码</a>
                                 <ul id="sub_04">
                                       <li><a href="#">笔记本</a></li>
                                       <li><a href="#">手机</a></li>
                                       <li><a href="#">平板</a></li>
                                       <li><a href="#">移动电源</a></li>
                                       <li><a href="#">键盘鼠标</a></li>
                                       <li><a href="#">充电器</a></li>
                                       <li><a href="#">U盘</a></li>
                                       <li><a href="#">其他</a></li>
                                       </ul>
             </li>
            <li id="mainlevel_05" class="mainlevel">
             <a href="#">影音小家电</a>
                                 <ul id="sub_05">
                                       <li><a href="#">小电扇</a></li>
                                       <li><a href="#">吹风机</a></li>
                                       <li><a href="#">音箱</a></li>
                                       <li><a href="#">耳机</a></li>
                                       <li><a href="#">插线板</a></li>
                                       <li><a href="#">饮水机</a></li>
                                       <li><a href="#">其他</a></li>
                                       </ul>
                                 </li>
            <li id="mainlevel_06" class="mainlevel">
             <a href="#">出行娱乐</a>
                                 <ul id="sub_06">
                                       <li><a href="#">电车</a></li>
                                       <li><a href="#">自行车</a></li>
                                       <li><a href="#">轮滑鞋</a></li>
                                       <li><a href="#">行李箱</a></li>
                                       <li><a href="#">帐篷</a></li>
                                       <li><a href="#">背包</a></li>
                                       <li><a href="#">其他</a></li>
                                       </ul>
                                 </li>
                                    <li id="mainlevel_07" class="mainlevel">
             <a href="image.html">失物招领</a>

                                    </li>
                                    <li id="mainlevel_08" class="mainlevel">
             <a href="{:U('Home/Girls/girls')}">Girls</a>
                                    </li> -->


        </ul>
    </div>
</div>