<include file="nav/nav" />
<div class="clear"></div>
<!--content-->
<div class="wrapper">
    <div class="daohang"> 
	<img src="__PUBLIC__/home/img/one_title.png" height="102" width="407">
        <div class="one_title" >
           <a href="#"><img src="__PUBLIC__/home/img/find.png"/ class="icons"></a>
           <h2><!-- 迷路指南： --><span><a href="#">首页</a>&gt;&gt;<a href="category.html">书籍报刊</a>&gt;&gt;<a href="category.html">资格证/等级考试</a></span></h2>
        </div>
    </div>
	<div class="content">
    	<div class="content_left">
        	<div class="left_one">
                <img src="__PUBLIC__/home/img/leftone_bg.png" style="height:450px; width:220px; background-color:#E3EEEC">
            	<div>
            		<h2><a href="category.html" >书籍报刊</a></h2>
               		 <ul>
						<li><a href="category.html" class="now">资格证/等级考试</a></li>
						<li><a href="list.html">考研资料</a></li>
						<li><a href="#">教科书</a></li>
						<li><a href="#">计算机网络</a></li>
						<li><a href="#">小说杂志</a></li>
						<li><a href="#">其他    </a></li>
                	</ul>
                </div>
            </div>
        </div>
        <div class="content_right">
                <ul>
                    <volist name="result" id="vo">
        	        	<li>
                            <div>
                                <a href="show.html"><img src="$vo.picture" /  id="p1"></a>
                            </div>
                            <div id="t1">
                                <a href="show.html"><p style="text-align: center">{$vo.name}</p>原价：{$vo.price}  售价：{$vo.secprice}</a>
                            </div>

                        </li> 
                        <!-- <li>
                            <div>
                                <a href="#"><img src="__PUBLIC__/home/img/考研政治.png" /  id="p1"></a>
                            </div>
                            <div id="t1">
                                <a href="#"><p style="text-align: center">考研政治资料</p>原价：45元  售价10元</a>
                            </div>
                        
                        </li>
                        <li>
                            <div>
                                <a href="#"><img src="__PUBLIC__/home/img/六级真题.png" /  id="p1"></a>
                            </div>
                            <div id="t1">
                                <a href="#"><p style="text-align: center">英语六级真题</p>原价：45元  售价10元</a>
                            </div>
                        
                        </li>
                        <li>
                            <div>
                                <a href="#"><img src="__PUBLIC__/home/img/四级听力.png" /  id="p1"></a>
                            </div>
                            <div id="t1">
                                <a href="#"><p style="text-align: center">四级听力</p>原价：45元  售价10元</a>
                            </div>
                        
                        </li>
                        <li>
                            <div>
                                <a href="#"><img src="__PUBLIC__/home/img/教师.png" /  id="p1"></a>
                            </div>
                            <div id="t1">
                                <a href="#"><p style="text-align: center">教师资格证资料</p>原价：45元  售价10元</a>
                            </div>
                        
                        </li> 
                        <li>
                            <div>
                                <a href="#"><img src="__PUBLIC__/home/img/考研政治.png" /  id="p1"></a>
                            </div>
                            <div id="t1">
                                <a href="#"><p style="text-align: center">考研政治资料</p>原价：45元  售价10元</a>
                            </div>
                        
                        </li>
                        <li>
                            <div>
                                <a href="#"><img src="__PUBLIC__/home/img/六级真题.png" /  id="p1"></a>
                            </div>
                            <div id="t1">
                                <a href="#"><p style="text-align: center">英语六级真题</p>原价：45元  售价10元</a>
                            </div>
                        
                        </li>
                        <li>
                            <div>
                                <a href="#"><img src="__PUBLIC__/home/img/六级真题.png" /  id="p1"></a>
                            </div>
                            <div id="t1">
                                <a href="#"><p style="text-align: center">英语六级真题</p>原价：45元  售价10元</a>
                            </div>
                        
                        </li>
                        <li>
                            <div>
                                <a href="#"><img src="__PUBLIC__/home/img/四级听力.png" /  id="p1"></a>
                            </div>
                            <div id="t1">
                                <a href="#"><p style="text-align: center">四级听力</p>原价：45元  售价10元</a>
                            </div>
                        
                        </li> -->
                    </volist>

                </ul>
            
                <div class="clear"></div>
                <div class="page">
                	<dl>
                    	<dt><a href="#">首 页</a></dt>
                    	<dt><a href="#">上一页</a></dt>
                    	<dt><a href="#">1</a></dt>
                    	<dt><a href="#">2</a></dt>
                    	<dt><a href="#">3</a></dt>
                    	<dt><a href="#">4</a></dt>
                    	<dt><a href="#">5</a></dt>
                    	<dt><a href="#">……</a></dt>
                    	<dt><a href="#">下一页</a></dt>
                    	<dt><a href="#">末 页</a></dt>
                    </dl>
                </div>
        </div>   
    </div>
</div>

<div class="clear"></div>
    <!--底部-->
    <footer>
        <img class="footer-tri" src="__PUBLIC__/home/img/footer-tri.png">
        <div class="friend-links">
            <div class="links-title center">友情链接</div>
                <ul class="links-wr center">
                    <li class="first">
                        <a href="https://2.taobao.com/" target="_blank" class="links">闲鱼网</a>
                    </li>
                    <li>
                        <a href="http://www.ganji.com/" target="_blank" class="links">赶集网</a>
                    </li>
                </ul>
            </div>
        <div class="site-msg line1">
            <a class="about" id="fd_footer" href="javascript:;">产品意见反馈</a>
            <a class="contact" href="http://www.2shoujie.com/open" target="_blank">开通学校|开放平台</a>
        </div>
        <div class="site-msg line2">
            <span class="power">Power By Fighting-group ©2016-2017 奋斗小组 版权所有</span>
            <span>ICP备14003265号-2</span>
        </div>
    </footer>

    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/re.js"></script>
</body>
</html>
