<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
<title>大学生校园二手网站</title>
<link href="__PUBLIC__/home/css/css.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/css/reset.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/css/zhucedenglu.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/css/publish.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.8.2.min.js"></script>
<!--[if !IE]>导航条样式　JS<![endif]-->
<script type="text/javascript" src="__PUBLIC__/home/js/thcic_menu.js"></script>
<!--[if !IE]>banner图片  JS<![endif]-->
<script type="text/javascript" src="__PUBLIC__/home/js/solideForK13-min.js"></script>

</head>
<body style="margin:0px">
    <div class="header_bg">

            <div class="logo_search">
                <div class="logo"><a href="#"><img src="__PUBLIC__/home/img/logo.png" /></a></div>
                <div class="search">
                    <if condition="$Think.session.username neq null">
                        <ul class="nav">
                            <li class="drop">
                                <a href="#" class="dropdown">你好，{$Think.session.username}</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{:U('Home/User/user1')}">个人中心</a></li>
                                    <li><a href="{:U('Home/User/logout')}">退出登录</a></li>
                                </ul>
                            </li>
                        </ul>
                    <else/>
                        <ul class="nav">
                            <li>
                                <a href="{:U('Home/User/login')}">登录</a>
                            </li>
                            <li>
                                <a href="{:U('Home/User/register')}">注册</a>
                            </li>
                        </ul>
                    </if>
                    <div class="clear"></div>
                    <div class="form">
                        <div name="" type="button" class="inbut" value=""></div>
                        <input name="" type="text" class="intext"/>

                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!--nav-->
            <div id="menu">
                    <!-- <ul id="nav">
                          <li id="mainlevel_01" class="mainlevel">
                          <a href="{:U('Home/Index/index')}">网站首页</a>
                          </li>
                          <li id="mainlevel_02" class="mainlevel">
                          <a href="{:U('Home/Category/category')}">书籍报刊</a>
                            <ul id="sub_02">
                                <li><a href="{:U('Home/Category/category')}">资格证/等级考试</a></li>
                                <li><a href="{:U('Home/List/list')}">考研资料</a></li>
                                <li><a href="#">教科书</a></li>
                                <li><a href="#">计算机网络</a></li>
                                <li><a href="#">小说杂志</a></li>
                                <li><a href="#">其他</a></li>
                            </ul>
                         </li>
                         <li id="mainlevel_03" class="mainlevel">
                          <a href="#">闲置日用</a>
                                              <ul id="sub_03">
                                                    <li><a href="#">卡卷</a></li>
                                                    <li><a href="#">台灯</a></li>
                                                    <li><a href="#">椅子</a></li>
                                                    <li><a href="#">书柜</a></li>
                                                    <li><a href="#">其他</a></li>

                                                    </ul>
                                              </li>
                         <li id="mainlevel_04" class="mainlevel">
                          <a href="#">闲置数码</a>
                                              <ul id="sub_04">
                                                    <li><a href="#">笔记本</a></li>
                                                    <li><a href="#">手机</a></li>
                                                    <li><a href="#">平板</a></li>
                                                    <li><a href="#">移动电源</a></li>
                                                    <li><a href="#">键盘鼠标</a></li>
                                                    <li><a href="#">充电器</a></li>
                                                    <li><a href="#">U盘</a></li>
                                                    <li><a href="#">其他</a></li>
                                                    </ul>
                                              </li>
                         <li id="mainlevel_05" class="mainlevel">
                          <a href="#">影音小家电</a>
                                              <ul id="sub_05">
                                                    <li><a href="#">小电扇</a></li>
                                                    <li><a href="#">吹风机</a></li>
                                                    <li><a href="#">音箱</a></li>
                                                    <li><a href="#">耳机</a></li>
                                                    <li><a href="#">插线板</a></li>
                                                    <li><a href="#">饮水机</a></li>
                                                    <li><a href="#">其他</a></li>
                                                    </ul>
                                              </li>
                         <li id="mainlevel_06" class="mainlevel">
                          <a href="#">出行娱乐</a>
                                              <ul id="sub_06">
                                                    <li><a href="#">电车</a></li>
                                                    <li><a href="#">自行车</a></li>
                                                    <li><a href="#">轮滑鞋</a></li>
                                                    <li><a href="#">行李箱</a></li>
                                                    <li><a href="#">帐篷</a></li>
                                                    <li><a href="#">背包</a></li>
                                                    <li><a href="#">其他</a></li>
                                                    </ul>
                                              </li>
                        <li id="mainlevel_07" class="mainlevel">
                          <a href="image.html">失物招领</a>
                                              
                        </li>
                        <li id="mainlevel_08" class="mainlevel">
                          <a href="#">Girls</a>
                        </li>
                        
                                              
                    </ul> -->
                    <ul id="nav">

                          <li id="mainlevel_01" class="mainlevel">
                          <a href="{:U('Home/Index/index')}">网站首页</a>
                          </li>
                          <volist name="list[0]" id="vo">
                              <li id="mainlevel_01" class="mainlevel">
                              <a href="{:U('Home/Category/category')}?id={$vo.id}">{$vo.name}</a>
                                <ul id="sub_02">
                                    <volist name="list[$vo['id']]" id='vo2'>
                                        <li><a href="{:U('Home/Category/category')}?id={$vo2.id}">{$vo2.name}</a></li> 
                                    </volist>
                                </ul>
                             </li>
                        </volist>
                    </ul>
                </div>
        </div>
    <div class="clear"></div>
<div class="publish_content">
	<form method="post" action="{:U('Home/Shiwuzhaoling/diushideal')}" role="form" enctype="multipart/form-data">
		<div class="pub_3"><b>*</b>物品名称:<input type="text" value="" name="name"></div>
		<!-- <div class="pub_4"><b>*</b>付款方式:
			<label><input name="pay" type="checkbox" value="" />面对面交易</label>
			<label><input name="pay" type="checkbox" value="" />网银</label>
			<label><input name="pay" type="checkbox" value="" />支付宝 </label>
			<label><input name="pay" type="checkbox" value="" />微信 </label>
		</div> -->
		
		
		
		<div class="pub_11"><b>*</b>所 有 人:<input type="text" name="place"></div>
		<div class="pub_11"><b>*</b>丢失地点:<input type="text" name="place"></div>
		<div class="pub_11"><b>*</b>丢失时间:<input type="text" name="time"></div>
		<div class="pub_12"><b>*</b>丢失详情:<input type="text" name="discribe"></div>
		<div class="pub_9">
			<div class="pub_9_1">上传图片:</div>
			<div class="pub_9_2">
				<div><input type="file" name="photo[]"></div>
			</div>
		</div>
		<div class="pub_11"><b>*</b>联 系 人:<input type="text" name="linkman"></div>
		<div class="pub_12"><b>*</b>联系电话:<input type="text" name="linktel"></div>
		<div class="pub_13"> 联系 Q Q:<input type="text" name="qq"></div>
		<div class="pub_14"> 电子邮箱:<input type="email" name="email"></div>
		<input type="submit" class="pub_15" value="马上发布" >
	</form>
</div><!--publish_content-->

<!--    底部 -->
<footer>
	<img class="footer-tri" src="__PUBLIC__/home/img/footer-tri.png">
	<div class="friend-links">
		<div class="links-title center">友情链接</div>
		<ul class="links-wr center">
			<li class="first">
				<a href="https://2.taobao.com/" target="_blank" class="links">闲鱼网</a>
			</li>
			<li>
				<a href="http://www.ganji.com/" target="_blank" class="links">赶集网</a>
			</li>
		</ul>
	</div>
	<div class="site-msg line1">
		<a class="about" id="fd_footer" href="javascript:;">产品意见反馈</a>
		<a class="contact" href="http://www.2shoujie.com/open" target="_blank">开通学校|开放平台</a>
	</div>
	<div class="site-msg line2">
		<span class="power">Power By Fighting-group ©2016-2017 奋斗小组 版权所有</span>
		<span>ICP备14003265号-2</span>
	</div>
</footer>
// <script>
// 	fatherArray = new Array("书籍报刊","闲置日用","闲置数码","影音小家电","出行娱乐","Girls","其它");
// 	sonArray= new Array();
// 	sonArray[0]= new Array("书籍报刊","资格证/等级考试|考研资料|教科书|计算机网络|小说杂志|其他");
// 	sonArray[1]= new Array("闲置日用","卡卷|台灯|椅子|书柜|其他");
// 	sonArray[2]= new Array("闲置数码","笔记本|手机|平板|移动电源|键盘鼠标|充电器|U盘|其他");
// 	sonArray[3]= new Array("影音小家电","小电风扇|吹风机|音箱|耳机|插线板|饮水机|其他");
// 	sonArray[4]= new Array("出行娱乐","电车|自行车|轮滑鞋|行李箱|帐篷|背包|其他");
// 	sonArray[5]= new Array("Girls","Girls");
// 	window.onload=function initfather(){
// 		document.all.selfather.length = 0 ;
// 		for(i=0; i<fatherArray.length; i++){
// 			document.all.selfather.options[i] = new Option(fatherArray[i],fatherArray[i]);
// 			console.log(fatherArray[i]) ;
// 		}
// 		getson(document.all.selfather.options[0].value)
// 	}

// 	function getson(currfather)
// 	{
// 		//当前 所选择 的 父类
// 		var currfathercurrfather = currfather;
// 		var i,j,k;
// 		//清空 子类 下拉选单
// 		document.all.selson.length = 0 ;
// 		for (i = 0 ;i <sonArray.length;i++)
// 		{
// 			//得到 当前父类 在 子类数组中的位置
// 			if(sonArray[i][0]==currfather)
// 			{
// 				//得到 当前父类 所包括的子类
// 				tmpsonArray = sonArray[i][1].split("|")
// 				for(j=0;j<tmpsonArray.length;j++)
// 				{
// 					//填充 子类 下拉选单
// 					document.all.selson.options[document.all.selson.length] = new Option(tmpsonArray[j],tmpsonArray[j]);
// 				}
// 			}
// 		}
// 	}
// </script>
</body>
</html>