<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/admin/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/main.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/table.css">


<script src="__PUBLIC__/admin/js/jquery.js"></script>
<script src="__PUBLIC__/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <div class="padding border-bottom">  
  <button type="button" class="button border-yellow" ><a href="{:U('Admin/adv/advadd')}"><span class="icon-plus-square-o"></span> 添加内容</a></button>
  </div>

  <form name="myform" id="myform" method="post">
                
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>排序</th>
                            <th>ID</th>
                            <th>图片名称</th>
                            <th>图片地址</th>
                            <th>操作</th>


                        </tr>
                        <volist name="adv" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="{$vo.id}}" type="checkbox"></td>
                            <td>
                                <input name="ids[]" value="{$vo.id}" type="hidden">
                                <input class="common-input sort-input" name="ord[]" value="{$vo.id}" type="text">
                            </td>
                            <td>{$vo.id}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.address}</td>
                            <td>
                                <a class="link-del" href="{:U('Admin/adv/destory')}/id/{$vo.id}">删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                </div>
            </form>
</div>


</body>
</html>