<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/admin/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/table.css">

<script src="__PUBLIC__/admin/js/jquery.js"></script>
<script src="__PUBLIC__/admin/js/pintuer.js"></script>

<script type="text/javascript">
    provinceArray = new Array("书籍报刊","闲置日用","闲置数码","影音小家电","出行娱乐","Girls");

      //定义 城市 数据数组
    cityArray = new Array();
    cityArray[0] = new Array("书籍报刊","资格证/等级考试|考研资料|教科书|计算机网络|小说杂志|其他");
    cityArray[1] = new Array("闲置日用","卡卷|台灯|椅子|书柜|其他");
    cityArray[2] = new Array("闲置数码","笔记本电脑|手机|平板|移动电源|充电器|键盘鼠标|U盘|其他");
    cityArray[3] = new Array("影音小家电","小电扇|吹风机|音箱|插线板|饮水机|其他");
    cityArray[4] = new Array("出行娱乐","自行车|电车|轮滑鞋|行李箱|帐篷|背包|其他");
    cityArray[5] = new Array("Girls","Girls");
    
    
    console.log(cityArray);
    window.onload=function initProvince(){
        document.all.selProvince.length = 0 ;
        for(i=0; i<provinceArray.length; i++){
            document.all.selProvince.options[i] = new Option(provinceArray[i],provinceArray[i]);
        }
        getCity(document.all.selProvince.options[0].value)
    }

    function getCity(currProvince)
    {
        //当前 所选择 的 省  
        var currProvincecurrProvince = currProvince;
        var i,j,k;
        //清空 城市 下拉选单  
        document.all.selCity.length = 0 ;
        for (i = 0 ;i <cityArray.length;i++)
        {
            //得到 当前省 在 城市数组中的位置
            if(cityArray[i][0]==currProvince)
            {
                //得到 当前省 所辖制的 地市
                tmpcityArray = cityArray[i][1].split("|")
                for(j=0;j<tmpcityArray.length;j++)
                {
                    //填充 城市 下拉选单
                    document.all.selCity.options[document.all.selCity.length] = new Option(tmpcityArray[j],tmpcityArray[j]);
                }
            }
        }
    } 
</script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
   <form action="{:U('Admin/goods/store')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
      <table class="insert-tab" width="100%">
          <tbody>
              <tr>
                  <th><i class="require-red">*</i>标题：</th>
                  <td><input name="name" class="common-text required" style="width: 20%;" /></td>
              </tr>
              
              <tr>
                  <th width="120"><i class="require-red">*</i>分类：</th>
                  <td>
                    
                      <select   name="province" id="selProvince" class="required" onChange = "getCity(this.options[this.selectedIndex].value)">
                          <option value="">无</option>
                          <option name="first"></option>
                      </select>
                      
                      <select  name="city" id="selCity" class="required">
                            <option value="">无</option>                               
                            <option name="second"></option> 
                      </select>

                  </td>
              </tr>

              <tr>
                  <th><i class="require-red">*</i>数量：</th>
                  <td><input name="quantity" class="common-text required" style="width: 20%;" /></td>
              </tr>
              <tr>
                  <th><i class="require-red">*</i>原价：</th>
                  <td><input name="price" class="common-text required" style="width: 20%;" /></td>
              </tr>
              <tr>
                  <th><i class="require-red">*</i>售价：</th>
                  <td><input name="secprice" class="common-text required" style="width: 20%;" /></td>
              </tr>
              <tr>
                  <th><i class="require-red">*</i>新旧程度：</th>
                  <td>
                    <select  name="condition" class="required">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </td>
              </tr>
              <tr>
                  <th><i class="require-red">*</i>描述：</th>
                  <td><input name="intro" class="common-text required" style="width: 70%;" /></td>
              </tr>
              <tr>
                  <th><i class="require-red">*</i>图片：</th>
                  <td>
                    <input name="picture" type="file">
                  </td>
              </tr>
              <tr>
                  <th><i class="require-red">*</i>上传用户：</th>
                  <td><input name="username" class="common-text required" style="width: 70%;" /></td>
              </tr>
              <tr>
                  <th></th>
                  <td>
                      <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                      <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                  </td>
              </tr>
          </tbody>
          </table>
  </form>
  </div>
</div>

</body></html>